.thumb .slick-list .slick-track{
    @apply !flex !items-center !gap-5;
}
.thumb .slick-next:before, .thumb .slick-prev:before{
    @apply text-primary;
}
.upcoming .slick-next:before, .upcoming .slick-prev:before{
    @apply text-primary;
}
.slick-dots li.slick-active button:before{
    @apply !text-primary;
}
.slick-dots li button:before{
    @apply !text-base;
}
.slick-dots li button:before{
    @apply !text-blue-700;
}
/*  */
.year_slider .slick-list{
    padding: 0px 15% 0 0 !important;
}
.upcoming .slick-slide{
    @apply px-2;
}
.testimonial .slick-prev{
    @apply left-[90%];
}
.testimonial .slick-next{
    @apply left-[95%];
}
.testimonial .slick-prev, .testimonial .slick-next{
    @apply top-[28%];
}
.testimonial .slick-prev:before, .testimonial .slick-next:before{
    @apply text-[32px] leading-[2.5rem] text-primary dark:text-white lg:inline-block hidden;
}
.testimonial .slick-prev, .testimonial .slick-next {
    @apply z-10;
}
.upcoming .slick-next:before, .upcoming .slick-prev:before, .thumb .slick-next:before, .thumb .slick-prev:before{
    @apply lg:inline-block hidden;
}
